@{
    ViewData["Title"] = "Order Denied";
}

<h1 class="text-danger">Insufficient Availability</h1>

<p>We're sorry, but the requested product does not have enough stock to fulfill your order.</p>

<div>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back to List of Products</a>
</div>
