@{
    ViewData["Title"] = "Success";
}

<h1 class="text-danger">Insufficient Availability</h1>

<p>Order created successfully.</p>

<div>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back to List of Products</a>
</div>
